/*Design flexbox header*/

.cabecalho__container {
    display: flex; /*ativa a visualização dos elementos como uma flex box*/
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.cabecalho__pesquisar__item {
    display: none;
}

@media (min-width: 834px) {

    
}

.cabecalho__pesquisar__item {
    display: block;
}
