/*Design flexbox header*/

/* CABEÇALHO */
.cabecalho__container {
    display: flex; /*ativa a visualização dos elementos como uma flex box*/
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.cabecalho__pesquisar__item {
    display: none;
}

/* SUPERIOR SEÇÃO */
.superior__secao__container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: scroll;
    gap: 15px;
}

/* RODAPE */
.rodape__container {
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
    flex-flow: column wrap;
}

@media (min-width: 834px) {
    /* CABEÇALHO */
    .cabecalho__pesquisar__item {
        display: block;
    }

    superior__secao__container
    
    /* RODAPE */
    .rodape__container {
        justify-content: space-between;
    }
}